body {
    background-color: gray;
    font-family: "oxanium", sans-serif;
    color: white;
}

h1 {
    font-family: "Alfarn", normal;
    font-size: 5em;
    text-align: center;
    text-shadow: 6px 6px 0px black;
}

h3 {
    font-family: "Alfarn", normal;
    font-size: 1em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0);
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 10% 20% 20% 50%;
    background-color: black;
    font-family: "oxanium", sans-serif;
    color: white;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.nav-button {
    background-color: tomato;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 2%;
    margin-left: 2%;
}

.nav-button2 {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 1%;
    margin-left: 75%;
}

.section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
}

.box {
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    padding-bottom: 0px;
}

.img {
    display: block;
    border-radius: 10px;
    margin: auto auto;
    object-fit: cover;
    object-position: 20% 10%;
    width: 90%;
    height: 70%;
}

.user {
    font-size: 20px;
    padding-left: 10%;
}

.cropped {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 20% 10%;
  border: 5px solid black;
}

.modelname {
    text-align: center;
}

.bouton {
    display: block;
    margin: auto auto;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(223, 76, 76);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.col_bt {
    display: grid;
    grid-template-columns: 50% 25% 25%; 
}

.likes_count {
    padding-top: 20%;
}

.section_models {
    display: grid;
    grid-template-columns: 50% 50%;
}
